.responsive-svg-container {
    width: 100%;
    max-width: 900px; 
    height: auto; 
    margin: 0 auto; 
}

.responsive-svg-container svg {
    width: 100%;
    height: auto;
    display: block;
}
@media screen and (max-width: 600px) {
    .responsive-svg-container {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    } 
}
.bars:hover {
    cursor: pointer;
    fill: hsl(201, 60%, 60%);
    transition: fill 0.3s ease-in-out;
}

.axis-label  {
    font-size: 14px;
    fill: #333;
    font-family: 'Roboto', sans-serif;
}
.ticks text {
    font-size: 16px;
    fill: #b69393;
    font-family: 'Roboto', sans-serif;
}
.bar{
    fill: #3a7d9a;
    transition: fill 0.3s ease-in-out;
}
.filter {
    min-width: 80px;
    margin: 0 5px;
    padding: 8px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #faffff;
    font-weight: 500;
    background-color: rgba(48, 82, 82, 0.5);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.filter:hover,
.filter.active {
    background-color: #305252;
    transition-timing-function: ease-out;
}

.filter.active {
    cursor: default;
}
.bar-label {
    font-size: 16px;
    fill: #333;
    font-family: 'Roboto', sans-serif;
}
